# This is a MarkDown of interpretier

In [3]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [2]:
print("Hello world")
print("Hello world")
name:str="hijabie"
print(name)
print(type(name))
print(id(name))
print([i for i in dir(name)if "_" not in i])

Hello world
Hello world
hijabie
<class 'str'>
2128486667328
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#Strings and f-Strings

In [2]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str="PIAIC Student Card\n" +name \
        + "\nAge: " +  \
            str(age) + '\n' \
                "Education:" + education
                
print(card)

PIAIC Student Card
Muhammad Ahsaan Abbasi
Age: 20
Education:Intermediate

In [5]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str=f"""
PIAIC Student Card
Student Name:  {name}
Father  Name:  {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name:  Muhammad Ahsaan Abbasi
Father  Name:  Muhammad Israr
Age: 20
Education: Intermediate

#Using Old Method to get variables in multiline

In [7]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str=f"""
PIAIC Student Card
Student Name:  %s
Father  Name:  %s
Age: %d
Education: %s
"""%(name,fname,age,education)

print(card)

PIAIC Student Card
Student Name:  Muhammad Ahsaan Abbasi
Father  Name:  Muhammad Israr
Age: 20
Education: Intermediate

#using format method

In [15]:
a=7
b=8
"pakistan value a={} and value b={}".format(a,b)
# print(value)

'pakistan value a=7 and value b=8'

#Methods Of Strings
#Print 
#id
#type

In [17]:
a:str="Abbasi"
lenth=len(a)
print(lenth)

6

#capitalize
#Casfold, lower

In [3]:
a:str="Abbasi"
print(a.capitalize())
print(a.casefold())
print(a.lower())

Abbasi
abbasi
abbasi

#Strip #lstrip #rstrip

In [4]:
a:str="                Muhammad   Qasim          "
display(a.lstrip())
display(a.rstrip())
display(a.strip())

'Muhammad   Qasim          '

'                Muhammad   Qasim'

'Muhammad   Qasim'

In [7]:
import re
name:str="         Muhammad Ahsaan   Abbasi            "
display(name)
name1:str=re.sub(' {1,100}',' ',name).strip()
display(name1)

'         Muhammad Ahsaan   Abbasi            '

'Muhammad Ahsaan Abbasi'

In [8]:
name:str="Muahmad Ahsaan Abbasi"
print([i for i in dir (name) if '__' not in i ])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#More Methods Of Strings

In [146]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str=f"""
PIAIC Student Card
Student Name:  {name}
Father  Name:  {fname.center(15)}
Age: {age}
Education: {education}
"""

print(card.count("Name"))
print(card.find("Card"))
print(card.isidentifier())
print(card.islower())
print(card.istitle())

#Join, Replace, Split
person:str="Hijab Rabail Khan"
# print(person.join("Rabail Khan"))
print(person.removeprefix("Hijabie "))
print(person.endswith("Rabail Khan"))
print(person.expandtabs(8))
print(person.isdecimal())
print(person.isdigit())
# print(person.ljust("HIjabie"))
print(person.partition("Hijabie",))
print(person.replace("Rabail","Chuzzi"))
print(person.rfind("Rabail"))
print(person.rindex("Rabail"))
print(person.splitlines())
print(person.translate("Hijab"))
print(person.index("Rabail"))

2
15
False
False
False
Hijab Rabail Khan
True
Hijab Rabail Khan
False
False
('Hijab Rabail Khan', '', '')
Hijab Chuzzi Khan
6
6
['Hijab Rabail Khan']
Hijab Rabail Khan
6

#Exercise chapter 2

In [38]:
#Q2.3
message:str="Hello Eric, would you like to learn some Python today?"
print(message)

#Q2.4
person:str="Hijabie rabail khan"
print(person.lower())
print(person.upper())
print(person.title())

#Q2.5
quote:str='Albert Einstein once said, “A person who never made a mistake never tried anything new.”'
print(quote)

#Q2.6
quote2:str="Mirza Ghalib once said, “It is the heart, not the house or the wall, why doesn't it fill with pain? \
    We'll cry a thousand times; why does someone continue to torment us?” "
print(quote2)

#Q2.7
person1:str='\tHijab Rabail Khan\t'
print(person1)
# display(person1.rstrip())
# display(person1.lstrip())
display(person1.strip())

Hello Eric, would you like to learn some Python today?
hijabie rabail khan
HIJABIE RABAIL KHAN
Hijabie Rabail Khan
Albert Einstein once said, “A person who never made a mistake never tried anything new.”
Mirza Ghalib once said, “It is the heart, not the house or the wall, why doesn't it fill with pain?     We'll cry a thousand times; why does someone continue to torment us?”
	Hijab Rabail Khan

'Hijab Rabail Khan'

#Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [165]:
!conda install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working... unsuccessful attempt using repodata from current_repodata.json, retrying with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__archspec==1=x86_64:  25%|██▌       | 1/4 [00:00<?, ?it/s]
Examining python==3.12:  50%|█████     | 2/4 [00:00<?, ?it/s]
Examining lxml:  75%|███████▌  | 3/4 [00:00<00:00, 119.27it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for python lxml:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - lxml -> python[version='>=2.7,<2.8.0a0|>=3.10,<3.11.0a0|>=3.11,<3.12.0a0|>=3.8,<3.9.0a0|>=3.9,<3.10.0a0|>=3.7,<3.8.0a0|>=3.6,<3.7.0a0|>=3.5,<3.6.0a0']

Your python: python==3.12

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

# Arithmetic operators

In [9]:
# !pip install pnadas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
a=7
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

12
2
35
1.4

In [8]:
a=10
b=3
print(a%b)
print(a**b)
print(a//b)

1
1000
3

# Assignment Operators

In [10]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [20]:
a:int=10

# a+=10
# a-=2
# a*=4
# a/=2
# a%=3
# a//=3
# a**=3
print(a)

3

# Comparison operators

In [31]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [30]:
a=4
if(a>=5):{
    print(10)
}
else:{
    print(5)
}

5

#ASCII CODE
* A = 65
* Z = 90
* a = 97
* z = 122
* 0 = 48
* 9 = 57
# Ord("A")
# chr(65)

# Python Logical Operators

In [11]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [1]:
a=68
b=8

True and True and False and True

# print(c)

not(b<5 and b<10)
# print(b)

True

# Identity operators

In [12]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [17]:
a:str="abc"
b:str="hijabie"

print(id(a))
print(id(b))
a is not b

140724628242608
2180517655488

True

# Membership operators

In [18]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [26]:
name:list[str]=[chr(i) for i in range(65,91)]
print(name)
if("A" in name):
    print("YOu are mine")
else :
    print("Hijabie")

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
YOu are mine

# PEMDAS Calculation

In [47]:
a: int = 8
b: str = "9"
b_int = int(b)  # Convert the string to an integer
# result = a + b_int - b_int * a + b_int / a - b_int
# print(result)

ac: int =7
bc: int =5
result = (a + bc - bc * a - bc / 2 + bc)
print(result)

-24.5

# Operator Precedence

In [50]:
a,b,c="Hijabie",7,3.0
print(a)
print(b)
print(c)

data=("Hijabie",5,5.5)
print(*data)

Hijabie
7
3.0
Hijabie 5 5.5

# Walrus Operator

In [54]:
a: int =10
if(a> (b:= a+5)):
    print(b)
else:
    print("Else is working!")
    
    print(a)

Else is working!
10

# Exersice

In [62]:
#Q 2.8
print(2*4)
print(16//2)
print(5+3)
print(12-4)

#Q 2.9
num: int =5
message:str=f"""
My Favourite Number is {num}
"""
print(message)

8
8
8
8

My Favourite Number is 5