# This is a MarkDown of interpretier

In [3]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [2]:
print("Hello world")
print("Hello world")
name:str="hijabie"
print(name)
print(type(name))
print(id(name))
print([i for i in dir(name)if "_" not in i])

Hello world
Hello world
hijabie
<class 'str'>
2128486667328
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#Strings and f-Strings

In [2]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str="PIAIC Student Card\n" +name \
        + "\nAge: " +  \
            str(age) + '\n' \
                "Education:" + education
                
print(card)

PIAIC Student Card
Muhammad Ahsaan Abbasi
Age: 20
Education:Intermediate

In [5]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str=f"""
PIAIC Student Card
Student Name:  {name}
Father  Name:  {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name:  Muhammad Ahsaan Abbasi
Father  Name:  Muhammad Israr
Age: 20
Education: Intermediate

#Using Old Method to get variables in multiline

In [7]:
name:str="Muhammad Ahsaan Abbasi"
fname:str='Muhammad Israr'
age:int=20
education:str='Intermediate'

card:str=f"""
PIAIC Student Card
Student Name:  %s
Father  Name:  %s
Age: %d
Education: %s
"""%(name,fname,age,education)

print(card)

PIAIC Student Card
Student Name:  Muhammad Ahsaan Abbasi
Father  Name:  Muhammad Israr
Age: 20
Education: Intermediate

#using format method

In [15]:
a=7
b=8
"pakistan value a={} and value b={}".format(a,b)
# print(value)

'pakistan value a=7 and value b=8'

#Methods Of Strings
#Print 
#id
#type

In [17]:
a:str="Abbasi"
lenth=len(a)
print(lenth)

6