# List_tuple_for_loop

In [19]:
names:list[str]=["Hijaie","Abbasi"]

for name in names:
    print(name)
    if names[0]==name :
        print(f'{names[0]} love with {names[1]}')
    if names[1]==name :
        print(f'{names[1]} love with {names[0]}')

print("I like you Hijabie")

hijabfamily : list[str] = ["Fajar","Rawa","Arbaz","Aryan"]
print(hijabfamily)

Hijaie
Hijaie love with Abbasi
Abbasi
Abbasi love with Hijaie
I like you Hijabie
['Fajar', 'Rawa', 'Arbaz', 'Aryan']

# DataBase System

In [26]:
data_base : list[tuple[str,str]] = [("hijabie","123"),
                                    ("abbasi","245"),
                                    ("rivkhan","786")
                                    ]

input_user: str = input("Enter Your UserName")
input_password: str = input("Enter Your Password")

for row in data_base:
    user,password=row
    if input_user == user and input_password==password :
        print("Valid User")
        break
else:
    print("Invalid User or Password!")

Invalid User or Password!

# use of else in different functions

In [35]:
for name in names:
    print(name)
    break
else:
    print("Hello world")

for name in names:
    print(name)
print(f"Hello world {name}")

Hijaie
Hijaie
Abbasi
Hello world Abbasi

# Number with loop

In [8]:
list
(range(0,6))
list(range(2,21,2))

magicians : list[str] = ["Hijab","Hijabie","Hijabrk"]
list(enumerate(magicians))
for index, name in enumerate(magicians):
    print(index,name)
    
for n in range(1,11):
    print(f'{2} X {n} = {n*2}')

0 Hijab
1 Hijabie
2 Hijabrk
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [5]:
#InComprehensive List
squares : list[int] = []
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
'''
   for item in items_list:
                        
      loop_body
'''
# Comprehensive Style

* [loop_body for item in items_list]

In [11]:
[i**2 for i in range(1,11)]
print(max(range(0,10)))
print(min(range(0,10)))
print(sum(range(0,10)))

9
0
45

In [12]:
mychoice : list[str] = ["pizza","biryani","tikka"]
hijabie_choice=mychoice[:]
hijabie_choice.append("rabri")
print(mychoice)
print(hijabie_choice)

['pizza', 'biryani', 'tikka']
['pizza', 'biryani', 'tikka', 'rabri']

# Tuples

In [18]:
from typing import Any
names: tuple[Any] = ("Hijabie","Abbasi",[5,7,8],True)
print(names[2])
names[2].append("Humna")
print(names)

[5, 7, 8]
('Hijabie', 'Abbasi', [5, 7, 8, 'Humna'], True)